          
<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dan's Site</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="//www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="//www.w3schools.com/lib/w3-theme-yellow.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

  <header>
  <div class="w3-bar daniel-theme">

  <a href="./" class="w3-round w3-bar-item w3-button w3-padding-16">Home</a>
  <a href="./about" class="w3-round w3-bar-item w3-button w3-padding-16">About</a>
  <a href="./games" class="w3-round w3-bar-item w3-button w3-padding-16">Blogs</a>
  <a href="./projects" class="w3-round w3-bar-item w3-button w3-padding-16">Projects</a>
  <a href="./contact" class="w3-round w3-bar-item w3-button w3-padding-16">Contact</a>
  
  </div>
  </header>
  <body>

	
	<%- defineContent('hero') %>
  <%- defineContent('about') %>
  <%- defineContent('games') %>
  <%- defineContent('contact') %>
  <%- defineContent('projects') %>
  <%- defineContent('snake') %>
  <%- defineContent('clicker') %>
  <%- defineContent('perlin') %>
  </body>

		<footer>
		
    <div class="w3-xlarge w3-section">

    <a href="https://www.facebook.com/daniel.munusami">
    <i class="fa fa-facebook-official w3-hover-opacity"></i></a>

    <a href="https://thelellow.deviantart.com/">
    <i class="fa fa-deviantart w3-hover-opacity"></i></a>

    <a href="https://www.linkedin.com/in/daniel-munusami/">
    <i class="fa fa-linkedin w3-hover-opacity"></i></a>

    <a href="http://steamcommunity.com/id/TheLellow/">
    <i class="fa fa-steam w3-hover-opacity"></i></a>

    <a href="https://github.com/TheLellow">
    <i class="fa fa-github w3-hover-opacity"></i></a>

  </div>

  Daniel Site. Copyright &copy; 2017
	</footer>

</html>